.menu-container {
    display: flex;
    flex-direction: row;
    background-color: aqua;
    justify-content: flex-start;
    align-items: center;
}
.menu-box-logo {
    width:250px;
}

.menu-box {
    width :100px;
}
