.container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5 ,1fr);
    grid-template-areas: "header header header header"
        "banner banner banner banner"
        "content1 content1 content2 content2"
        "content3 content3 content4 content4"
        "footer footer footer footer";
}

.container > .header {
    grid-area: header;
    text-align: center;
    font-size: 80px;
    color: black;
    padding:30px;
}
.container > .bann_content {
    background-color:rgb(32, 112, 32);
    grid-area: banner;
    text-align: center;
    font-size: 40px;
    color: rgb(236, 236, 152);
    margin :0 5px 0 5px;
    padding:30px;

}

.container > .bann_sub_content1 {
    background-color:rgb(32, 112, 32);
    grid-area: content1;
    text-align: center;
    justify-text: center;
    font-size: 40px;
    color: rgb(236, 236, 152);
    margin :5px 5px 5px 5px;
    padding:30px;

}
.container > .bann_sub_content2 {
    background-color:rgb(32, 112, 32);
    grid-area: content2;
    text-align: center;
    font-size: 40px;
    color: rgb(236, 236, 152);
    margin :5px 5px 5px 0;
    padding:30px;

}
.container > .bann_sub_content3 {
    background-color:rgb(32, 112, 32);
    grid-area: content3;
    text-align: center;
    font-size: 40px;
    color: rgb(236, 236, 152);
    margin :5px 5px 5px 5px;
    padding:30px;

}
.container > .bann_sub_content4 {
    background-color:rgb(32, 112, 32);
    grid-area: content4;
    text-align: center;
    font-size: 40px;
    color: rgb(236, 236, 152);
    margin :5px 5px 5px 0;
    padding:30px;
    

}
.container > .footer {
    background-color:rgb(32, 112, 32);
    grid-area: footer;
    text-align: center;
    font-size: 40px;
    color: rgb(236, 236, 152);
    margin :5px 5px 5px 5px;
    padding:30px;

}
.container {
       background-color:rgb(155, 215, 218);
       height: 60vh;
       width: 100%;
       font-size: 40px;
       color: rgb(236, 236, 152);
       
