
<html>
    <head>
    </head>

    <body>
        <h1>Add Movie</h1>
        <form method="POST" action="/add-movie">
            <input type="text" placeholder="title" name="title" />
            <input type="text" placeholder="director" name="director" />
            <input type="text" placeholder="rating" name="rating" />
            <button>Save</button>

        </form>
    </body>
</html>