#header {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 10px;
    text-decoration: underline 5px solid black;
    font-size: 50px;
    border-bottom: 5px solid black;
    margin: 0;
}

body {
    background-color: #5cdb95;
}

#overview {
    display: flex;
    background-color: #5cdb95;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-bottom: 5px solid black;
}

.enttask {
    font-size: 30px;
    /* animation: glow 5s infinite; */
    text-decoration: underline 5px;
    color: #1604a2c7;
    background-color: #5cdb95;
}

#tasktextbox {
    width: 600px;
    height: 50px;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    text-align: center;
    font-size: 30px;
}

#addbtn {
    width: 90px;
    height: 50px;
    transition: 0.3s;
    background-color: #5cdb95;
    border: 3px solid black;
    border-radius: 20%;
    color: #1604a2c7;
    transition: 0.5s;
    font-size: 30px;
    font-weight: bold;
}

h2 {
    text-decoration: underline 5px;
    width: 300px;
    height: auto;
    transition: 0.3s;
    background-color: #5cdb95;
    color: #1604a2c7;
    transition: 0.5s;
    font-size: 30px;
}

.task {
    display: flex;
    color: black;
    background-color: #c8db5c;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    margin: 10px;
    border: 3px solid black;
    font-size: 30px;
    flex-wrap: wrap;
}

.removebtn {
    background-color: red;
}

@keyframes glow {
    0% {
        box-shadow: 5px 5px 20px rgb(93, 52, 168), -5px -5px 20px rgb(93, 52, 168);
    }
    50% {
        box-shadow: 5px 5px 20px rgb(81, 224, 210), -5px -5px 20px rgb(81, 224, 210)
    }
    100% {
        box-shadow: 5px 5px 20px rgb(93, 52, 168), -5px -5px 20px rgb(93, 52, 168)
    }
}