<html>
   <head>
     <title>Trip Itenary</title>
    <link rel="stylesheet" href="../style.css">

         
   </head>
   <body>
       <h1>Your Trips</h1>
       <div class="btn-group">
       <button class="btn-itenary"><a href="/addtrip">Add New trip</a></button>
       </div><br>
       <div class="trip-container"> 
        {{! loop start }}

       {{#alltrips}}
         <div class="tripdisplay" >
             <div class="trip-infoheader box" >
                <h2> trip to  {{city}}<h2>
             </div>
             <div class="trip-info box">
                from: {{fromdate}}
             </div>
             <div class="trip-info box">
                to : {{todate}}
             </div>
             <div class="trip-info box">
                <img class="cityimage" src="{{image}}"/>
             </div>
             <div id="downloadsection" class="box">
                <button id="download-btn">download more details about {{city}}</button>
             </div>
         </div><br><br>
       
       {{/alltrips}}
       {{! loop ends here }}
         </div>


   </body>



</html>