html {
    background-color:rgb(173, 211, 173);
}


.row {
    display: inline-flex;
    /color:black;
    border-style: 1px solid black;
    width: 100%;     
}

.block_1 {
    display: block;
    color: white;
    text-align: end;
    width: 100%;
    border: 1px solid white; 
    font-size: 30px;
    background-color:black;
    margin-bottom: 25px;
}

.block_2 {
    display: inline-block;
    color: white;
    text-align: end;
    width: 144px;
    height: 20px;
    border: 1px solid black;
    font-size: 30px;
    background-color:red;
}

.block_3_start {
    display: inline-block;
    justify-content: start;
    color: white;
    width: 144px;
    height: 20px;
    border: 1px solid black;
    font-size: 30px;
    background-color: yellow;
}

.block_5 {
    display: inline-block;
    justify-content: start;
    color: white;
    width: 144px;
    height: 20px;
    border: 1px solid black;
    font-size: 30px;
    background-color: green;
}

.block_7 {
    display: inline-block;
    justify-content: start;
    color: white;
    width: 144px;
    height: 20px;
    border: 1px solid black;
    font-size: 30px;
    background-color: blue;
    shadow: 1px;
}
.block_3_diff {
    display: inline-block;
    justify-content: start;
    color: black;
    width: 138px;
    height: 20px;
    border: 4px solid black;
    font-size: 30px;
    background-color: black;
}

.white_ball {
    display: flex;
    justify-content :center;
    align-items: baseline;
    color: black;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    font-size: 30px;
    background-color: white;
}

.platform {
    display: flex;
    justify-content :center;
    align-items: baseline;
    color: black;
    width: 70px;
    height: 10px;
    border: 1px solid white;
    font-size: 30px;
    background-color: black;
}


.contaner {
    display : box;
    background-color:black;
    height: 500px;
    width :2000px;
}
/* .block_3_long_black {
    display: inline-block;
    justify-content: start;
    color: white;
    width: 100px;
    height: 20px;
    border: 1px solid black;
    font-size: 30px;
    background-color: rgb(5, 5, 0);
    margin: 1px;
} */
