<html>
    <head>
        <title>home page</title>    
    </head>
    <body>
      <div>
          <h1>Welcome To The Movieverse</h1>
    </div>
    <div>
        <div>
            <h2>login</h2>
        </div>
        {{message}}
        <form method="post" action="/home/login">
        <div>
             <label>username</label>
             <input type="text" name="username" placeholder="name">
         </div>
         <div>
             <label>password</label>
             <input type="password" name="password" placeholder="password">
          </div>
          <div>
             <button>LOGIN</button>
          </div>
       </div>
       </form>
    <div>
       <button><a href="/home/register">register</a></button>
    </div>
    </body>
<html>
