html {
    
    background-color: rgb(49, 90, 39);
    font-family: 'Roboto Mono', monospace;
}

#header_text {
    text-align: center;
    font-family: 'Reggae One', cursive;
    font-size: 40px;
    text-decoration: solid underline;
    
}

#navbar {
    text-align: center;
    font-family: 'Reggae One', cursive;
    font-size: 30px;
    text-decoration: solid underline;
    font-family: 'Truculenta', sans-serif;
    color: black;
}

#logo_image {
    width :100% ;
    height :600px;
}

#hotel_photos {
    width : 100%;
    height : 600px;
}

footer {
    border-top: 1px solid black;
    background-color: white;
}
#contact_us {
    text-decoration: solid underline;
    font-size : 30px;
}

img {
    width : 100%;
}

p {
    font-size: 30px;
    font-weight:bold;
}

#description_header {
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    text-decoration: solid underline;
}