

<html>
<head></head>

<body>
    <h1>Register</h1>

    <form method="POST" action = "/register">
        <input type="text" placeholder="name" name = "name" />
        <input type="text" placeholder="age" name = "age" />
        <button>Register</button>
    </form>
    
    {{message}}

</body>

</html>