<html>
  <head>
      <title>confirmation</title>
  </head>
  <body>
      <h1>confirmation</h1>
      <div>
           The customer {{name}} with age {{age}} has been saved successfully
      </div>
      
   </body>
</html>