<html>
  <head>  
      <title>all blogs</title>
  </head>

<body>

    
    {{#blogs}}
    <div>
    <div>
        <input type="hidden" value="{{post_id}}" name="{{post_id}}">
        TITLE: {{title}}
    </div>
    <div>
        BODY: {{body}}
    </div>
    <div>   
        DATE CREATED: {{date_created}}
    </div>
    <div>
        DATE UPDTAED: {{date_updated}}
    </div>
    <div>    
        PUBLISHED STATUS: {{is_published}}
   </div>
   <div>
     <form method="POST" action="/delete-blog">
            <button>Delete This Post</button>
     </form> 
   </div>
   <div>
     <button><a href="/update-blog/{{post_id}}">Update The Post</a></button>
   </div>
   </div><br>
   
    {{/blogs}}

    <div>
     <button><a href="/add-blog">Add New Blog</a></button>
   </div>

    


</body>
</html>