.all-book-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.book-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 2px solid black;
    background-color: aqua;
    padding: 5px;
    width: 400px;
    padding: 10px;
    
    
}

img {
    width: 90%;
}

button {
    background-color: brown;
}