<html>
  <head>
      <title>add customer</title>
  </head>
  <body>
      <h1>add customer</h1>
      <form method="POST" action="/confirmations">
          <input type="text" name="name">
          <input type="text" name="age">
          <button type="submit">submit<button>
       </form>
   </body>
</html>