<html>
   <head>
         <title>Add trip</title>
         <link rel="stylesheet" href="../style.css">
   </head>
   <body>
       <h1>Add trip</h1>
       <form method="POST" action="/addtrip/itenary-post">
          <div class ="box">
          <label>City Name</label><br>
          <input id="inputsection" type="text" name="city" required><br>
          </div>
          <div class ="box">
          <label>Start Date</label><br>
          <input id="inputsection" type="date" name="fromdate" required><br>
          </div>
          <div class ="box">
          <label>End date</label><br>
          <input id="inputsection" type="date" name="todate" required><br>
          </div>
          <div class ="box">
          <label>Image Of The City</label><br>
          <input  id="inputsection" type="text" name="imagelink" required><br>
          </div>
          <div>
          <button class="btn" type="submit">Submit</button>
          </div>
       </form>
   </body>



</html>