<html>
   <head>
   </head>
   <body>
     <form method="post" action="/login">
       <input type="text" name="name" placeholder="name">
       <input type="text" name="age" placeholder="age">
       <button>submit</button>

     </form>
   </body>


</html>