<html>
    <head></head>
    <body>
        <h1>Register</h1>

         <form method="POST" action = "/users/registration">
            <input type="text" name="username" placeholder="username" />
            <input type="password" name="password" placeholder="password" />
            <button>Register</button>
         </form>

    </body>
</html>